@import url('https://fonts.googleapis.com/css?family=Poppins');

.navbar {padding: 10px 40px;background:#F5F5F5; font-size: 20px;width: 100%; padding-bottom: 50px;position: fixed; }
.logo{ margin-top: 10px; }
body {font-family: 'Poppins', sans-serif;font-size: 0.9rem; margin: 0;box-sizing: border-box;
    color: #1e3056;display: flex; display: -webkit-flex ; -webkit-flex: 1; -ms-flex: 1;flex: 1;
    flex-direction: column;height:100%; overflow-x: hidden;}
body#landing{ background: #F5F5F5; }
.link-holder{ float: right;margin-right: 100px; }
.item1{ padding-right: 50px;text-decoration: none; color: #1e3056;  }
.item1:hover{ color: white;text-decoration: underline; }
.item2:hover{ color: white; text-decoration: underline; }
.item2{  text-decoration: none; color: #1e3056;}
.all{ margin-top: 150px; }
.nav-container {justify-content: center!important;}
.hero-image {width: 600px; border-radius: 10px; margin-left: 30px;}
.hero.item {text-align: center; padding:20px;}
section.row.m-40.content-centered.hero {text-align: center;}
  
.ml-1h { margin-left: 1.5rem} 
.item h1, .item p {width: 600px}
.mb-2h {margin-bottom: 2.5rem;}
.item.mb-2h { margin-bottom: 0 !important;margin-top: 2rem;}
.row { display: flex;flex-wrap: nowrap;flex-direction: row; }
.m-40 {margin: 40px;}
.row.m-40, .mx-40  {margin: 0px 5px 0px;}
.content-centered {align-items: center;}
h2.text-center.my-2.sub-header {border-bottom: 2px solid;width: 280px;margin: auto;font-size: 28px;border-color: linear-gradient(to right, #507bf5 0, #04c3e1 100%);  }
 .text-center {  text-align: center}
 .item {flex: 1 1 100%;}
 .item h1 {font-size: 45px;}
 .get-started {
        padding: 50px 20px !important;
    }
 .ml-1h { margin-left: 1.5rem}

footer.text-center{ border-top: 1px solid; padding-top: 10px; font-size: 15px;background-color: black; color: white; }
.features {
        background-size: cover;
    }
.features .box {
        background: #fff;
        box-shadow: 1px 1px 25px 0 rgba(0,0,0,.05);
        border-radius: 15px;
        padding: 60px 30px;
        transition: all .4s ease-in-out;
        margin: 20px;
        flex: 1 1 33.33%;
    }
.items{
    	padding-top: 30px;
    	border-radius:20px;
    }
@media only screen and (max-width:768px){
    .logo{width: 130px;}
     .link-holder{ margin-right: 200px; margin-top: 10px;}
     .item h1, .item p {width: 400px ;margin-left:10px;}
     .item img{width: 300px; margin-left: 10px;}
     .items img{ width: 300px;  }
}
@media only screen and (max-width:1024px){
    .logo{width: 150px;}
     .link-holder{ margin-right: 200px; margin-top: 10px;}
     .item h1, .item p {width: 400px ;margin-left:10px;}
     .item img{width: 450px; margin-left: 10px;}
     .items img{ width: 300px;  }
}
@media only screen and (max-width:375px){
     .logo{width: 100px;}
     .link-holder{ margin-right: 100px; margin-top: 10px;}
     .link-holder .item1{ margin-left: : 10px;font-size: 13px;}
     .link-holder .item2{ margin-left: 10px; font-size: 13px; margin-left: 10px; }
     .item h1, .item p {width: 200px;}
     .item h1{ font-size:15px; }
     .item h2 {font-size: 16px;}
     .item img{width: 150px;padding-right: 20px;}
     .items img{ width: 150px;}
     .box{width: 30px;height: 80px;margin-left: 5px; display: flex;flex-direction: column;} 
     .box img{ width: 30px;}
     .box h3{ font-size: 9px; text-align: center; }
}
  @media only screen and (max-width:414px){
 .logo{width: 100px;}
     .link-holder{ margin-right: 100px; margin-top: 10px;}
     .link-holder .item1{ margin-left: : 10px;font-size: 13px;}
     .link-holder .item2{ margin-left: 10px; font-size: 13px; margin-left: 10px; }
     .item h1, .item p {width: 200px;}
     .item h1{ font-size:15px; }
     .item h2 {font-size: 16px;}
     .item img{width: 150px;padding-right: 20px;}
     .items img{ width: 150px;}
     .box{width: 30px;height: 80px;margin-left: 5px; display: flex;flex-direction: column;} 
     .box img{ width: 30px;}
     .box h3{ font-size: 9px; text-align: center; }


  }  