@import url('https://fonts.googleapis.com/css?family=Poppins');
.navbar {
    position: fixed;
    width: 100%;
    padding: 10px 40px;
    background: #F5F5F5;
    font-size: 15px;
    padding-bottom: 10px;
}

.vavbars {
    padding: 10px 40px;
    background: #F5F5F5;
    font-size: 15px;
    padding-bottom: 10px;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 0.9rem;
    margin: 0;
    box-sizing: border-box;
    color: #1e3056;
    display: flex;
    display: -webkit-flex;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    flex-direction: column;
    height: 100%;
    overflow-x: hidden;
}

body#landing {
    background: #F5F5F5;
}

.navright {
    display: flex;
    flex-direction: row;
    margin-right: 10px;
    margin-top: 20px;
}

.navleft {
    float: right;
    margin-right: 50px;
    margin-bottom: 2px;
    margin-top: -50px;
    font-size:16px;
}

.navbar--link {
    margin-right: 20px;
    text-decoration: none;
    color: #1e3056;
}

.navbar--link:hover {
    color: blue;
    text-decoration: underline;
}

#searchbars {
    outline: none;
    width: 500px;
    height: 20px;
    padding: 12px 20px;
    margin-left: 380px;
    border-radius: 7px 7px 7px 7px;
    box-sizing: border-box;
    border: 1px solid black;
}

.material-icons {
    margin-bottom: 10px;
}

.searchbar {
    outline: none;
    width: 450px;
    height: 20px;
    padding: 12px 20px;
    margin-left: 280px;
    border-radius: 7px 7px 7px 7px;
    box-sizing: border-box;
    border: 1px solid black;
}

.searchicon {
    margin-left: 10px;
}

.another {
    margin-left: 30px;
}

.startMessage {
    margin-top: 105px;
    border: 1px solid white;
    width: 900px;
    height: 200px;
    margin-right: 100px;
    margin-left: -200px;
    background-color: white;
    border-radius: 20px;
}

.Mypost a {
    text-decoration: none;
}

a,
p {
    text-decoration: none;color:black;
}

.replay {
    color: #1e3056;
    cursor: pointer;
    font-weight: bold;
}

.column {
    float: left;
    width: 33.33%;
    text-align: center;
}

.allcomment {
    outline: none;
    margin-top: 24px;
    width: auto;
    ;
    height: 120px;
    border: 1px solid white;
    border-radius: 15px;
    background-color: white;
}

.allcomment img {
    width: 40px;
    border: 1px solid #1e3056;
    float: left;
    margin-left: 5px;
    margin-top: 5px;
    border-radius: 50px;
}

.glodie {
    margin-right: 740px;
    color: #1e3056;
}

.allcomment button {
    outline: none;
    margin-right: 10px;
    border-radius: 10px;
    cursor: pointer;
    width: 20%;
    font-size: 16px;
    float: right;
    height: 50px;
}

.allcomment button[type=submit]:hover {
    background: linear-gradient(to right, #1e3056 0, #1e3056 100%);
}

.Onecomment img {
    width: 30px;
    float: left;
    border: 1px solid black;
    margin: 5px 0px 0px 5px;
    border-radius: 50%;
}

.glodie {
    font-weight: bold;
}


.Onecomments a {
    text-align: center;
    text-decoration: none;
}
.centertext{
    margin-right:420px;
}
.replay {
    float: right;
    margin-right: 30px;
}

.Onecomments {
    outline: none;
    margin-top: 6px;
    width: auto;
    height: 30px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: white
}

.Onecomment {
    margin-top: 6px;
    width: auto;
    ;
    height: 120px;
    border: 1px solid white;
    border-radius: 5px;
    background-color: white;
}

.allcomment input {
    outline: none;
    width: 60%;
    padding: 12px 20px;
    margin-bottom: 10px;
    margin-left: 100px;
    border-radius: 20px;
    font-size: 14px;
    border: 1px solid #1e3056;
}

.empty {
    border: 1px solid white;
    height: 25px;
    width: auto;
    background-color: #1e3056;
    border-radius: 5px;
}

.textPosts {
    outline: none;
    width: 400px;
    height: 80px;
    border-radius: 3px;
    margin-top: 40px;
    margin-left: 20px;
    font-size: 16px;
    border-radius: 20px;
    border: 1px solid #1e3056;
}

.textPost {
    outline: none;
    width: 500px;
    height: 80px;
    border-radius: 3px;
    margin-top: 20px;
    margin-left: 20px;
    font-size: 16px;
    border-radius: 20px;
    border: 1px solid #1e3056;
}

.photo {
    display: flex;
    flex-direction: row;
}
.send:hover {
    color: white;
    background: linear-gradient(to right, #1e3056 0, #1e3056 100%);}
.send {
    margin-left: 720px;
    margin-top: 15px;
    border: 1px solid #1e3056;
    width: 100px;
    height: 30px;
    text-align: center;
    padding-top: 5px;
    border-radius: 20px;
    color: #1e3056;
}

.pucture {
    float: left;
    margin-top: 150px;
    border: 1px solid #1e3056;
    width: 50px;
    height: 30px;
    text-align: center;
    border-radius: 50%;
    color: #1e3056;
    margin-left: 10px;
}

.photos {
    margin-left: 19px;
    margin-top: 15px;
    border: 1px solid #1e3056;
    width: 50px;
    height: 30px;
    text-align: center;
    padding-top: 5px;
    border-radius: 50%;
    color: #1e3056;
}

.Mypost {
    border: 2px solid white;
    margin-top: 10px;
    width: 900px;
    height: 560px;
    margin-right: 100px;
    margin-left: -200px;
    background-color: white;
    border-radius: 20px;
}

.myempty {
    height: 25px;
    width: auto;
    background-color: #1e3056;
    border-radius: 5px;
    margin-top: 3px;
}

#myOtherpost {
    margin-top: 50px
}

.column,
.myOtherpost {
    margin-top: 30px
}

.myspecifpost {
    margin-top: 90px;
}

.borderMessage {
    border-bottom: 1px solid black;
    height: 90px;
    width: auto;
    border-radius: 5px;
}

.thisPhoto {
    border: 1px solid #1e3056;
    width: 50px;
    height: 30px;
    border-radius: 10%;
    color: #1e3056;
    padding-bottom: 5px;
    padding-top: 5px;
    margin-top: 10px;
}

.profil {
    display: flex;
    flex-direction: row;
    margin-left: 25px;
    margin-top: 15px;
}
.title{margin-right:200px;margin-bottom:10px;}
.time {
    margin-right: 630px;
    margin-top: -3px;
    font-weight: bold;
}
.one{columns: #1e1e1e;}


img {
    margin: 1px;
    width: 460px;
}
.comment:hover {
    color: white;
    background: linear-gradient(to right, #1e3056 0, #1e3056 100%);}
.comment {
    margin-right: 350px;
    margin-left: 20px;
    border: 1px solid #1e3056;
    width: 90px;
    height: 20px;
    border-radius: 10px;
    color: #1e3056;
    padding-bottom: 5px;
    padding-top: 5px;
    margin-top: 5px;
}
.share:hover {
    color: white;
    background: linear-gradient(to right, #1e3056 0, #1e3056 100%);}

.share {
    border: 1px solid #1e3056;
    width: 90px;
    height: 20px;
    border-radius: 10px;
    color: #1e3056;
    padding-bottom: 5px;
    padding-top: 5px;
    margin-top: 5px;
    margin-left: 300px;
}

.footer {
    display: flex;
    flex-direction: row;
}

.MypostMessage {
    border: 2px solid white;
    margin-top: 10px;
    width: 600px;
    height: 560px;
    margin-right: 100px;
    margin-left: -50px;
    background-color: white;
    border-radius: 20px;
}

.images {
    margin: 2px;
    border: 1px;
    width: 320px;
}

.myfooter {
    border: 2px solid #1e3056;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    color: #1e3056;
    margin-top: 10px;
    width: 900px;
    height: 30px;
    padding-top: 10px;
    margin-right: 100px;
    margin-left: -200px;
    background-color: white;
    border-radius: 10px;
    margin-bottom: 5px;
}


}
.imagess {
    margin: 2px;
    border: 1px;
    width: 470px;
}
.myprofils {
    margin-top: 105px;
    border: 1px solid white;
    width: 600px;
    height: 400px;
    margin-right: 100px;
    margin-left: -50px;
    background-color: white;
    border-radius: 20px;
}
.modify[type=submit]:hover {
    color: white;
    background: linear-gradient(to right, #1e3056 0, #1e3056 100%);
}
.modify {
    margin-top: 66px;
    cursor: pointer;
    outline: none;
    margin-left:215px;
    border-radius: 7px;
    width: 900px;
    height: 40px;
    font-size: 15px;
    text-align: center;
}
.myprofil {
    margin-bottom: 40px;
    text-align: center;
    margin-left: 500px;
    margin-top: 105px;
    border: 1px solid white;
    width: 620px;
    height: 500px;
    background-color: white;
    border-radius: 20px;
}
.iconProfil {
    margin-right: -15px;
    margin-left: 5px;
    margin-bottom: 10px;
    width: 70px;
    border: 1px solid #1e3056;
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 50%;
}
.photo_camera {
    margin-top: 20px;
}
.imgs {
    width: 300px;
}
.all {
    width: 500px;
    height: 50px;
    border: 2px solid #1e3056;
    margin-left: 55px;
    padding-bottom: 15px;
    border-radius: 30px;
    padding-top: -100px;
    font-size: 15px;
}
.inputHere {
    margin-top: 20px;
}
.input {
    outline: none;
    margin-bottom: 10px;
    width: 90%;
    padding: 12px 20px;
    box-sizing: border-box;
    border-radius: 10px;
    border: 1px solid #1e3056;
    text-align: center;
    font-size: 16px;
}
.validation {
    outline: none;
    cursor: pointer;
    width: 100px;
    border-radius: 10px 10px 10px 10px;
    height: 50px;
    border: 1px solid #1e3056;
    color: white;
    background-color: #1e3056;
}
.build:hover {
    color: white;
    background: linear-gradient(to right, #1e3056 0, #1e3056 100%);}
.build {
    margin-left: 400px;
    border: 1px solid #1e3056;
    color: #1e3056;
    width: 40px;
    height: 20px;
    cursor: pointer;
    padding-bottom: 5px;
    padding-top: 5px;
    border-radius: 5px;
}
.id {
    text-decoration: none;
}
.navbar a {
    color: #1e3056;
}
.show {
    display: flex !important;
}
.hide {
    display: none !important;
}
.popup-container {
    position: relative;
}
.popup {
    border: none;
    border: 1px solid black;
    width: 160px;
    height: 80px;
    position: absolute;
    top: 25px;
    border-radius: 5px;
    right: 0;
    display-content: center;
    background-color: snow;
    display: none;
}
.popitems {
    margin-top: 20px;
    padding-left: 20px;
    font-size: 16px;
}
.edit {
    margin-bottom: 10px;
}
.itemDeleted {
    margin-left: 20px;
    margin-top: 33px;
    color: #1e3056;
}
.itemEdit {
    color: #1e3056;
    margin-left: 20px;
}
.i {
    margin-left: 110px;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
}
.logo {
    width: 150px;
}
.btn[type=submit]:hover {
    color: white;
    background: linear-gradient(to right, #1e3056 0, #1e3056 100%);
}
.btn {
    cursor: pointer;
    outline: none;
    margin-top: 20px;
    width: 100px;
    height: 60px;
    font-weight: bold;
    border-radius: 5%;
    display: none;
}
.modal-delete {
    width: 500px;
    height: 210px;
    background-color: white;
    border-radius: 7px;
    position: fixed;
    margin-top: 200px;
}
.pg-delete {
    width: 100%;
    height: 1550px;
    background-color: rgb(0, 0, 0, 0.7);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: top;
    display: none;
}
.modal-content {
    margin-left: 30%;
    width: 500px;
    height: 250px;
    background-color: white;
    border-radius: 7px;
    position: relative;
    margin-top: 120px;
}
#textss {
    text-align: center;
    margin-left: 10px;
    margin-top: 80px;
    font-size: 18px;
}
.deletePost {
    padding-top: 10px;
    border-radius: 10px;
    text-align: center;
    width: 130px;
    height: 40px;
    font-size: 16px;
    background-color: red;
    color: white;
    margin-left: 20px;
}
.mylastFlex {
    display: flex;
    flex-direction: row;
}
.cancelPost {
    padding-top: 10px;
    border-radius: 10px;
    text-align: center;
    width: 130px;
    height: 40px;
    font-size: 16px;
    background-color: green;
    color: white;
    float: right;
    margin-left: 190px;
}
.mybutton {
    width: 110px;
    height: 40px;
    margin-right: 20px;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 7px;
    outline: none;
    font-size: 16px;
    float: right;
}
button,
.mybutton[type=submit]:hover {
    color: white;
    background: linear-gradient(to right, #1e3056 0, #1e3056 100%);
}
@media only screen and (max-width: 1024px) {
    #start {
        margin-top: 90px;
    }
    
    .allcomment {
        width: auto;
        margin-top: 10px;
    }
    .modify {
        margin-top: 200px;
        margin-left: -680px;;
        border-radius: 7px;
        width: 920px;
        height: 40px;
        font-size: 15px;
        text-align: center;
    }
    .searchbar {
           
        width: 400px; 
        height: 20px; 
       padding: 12px 20px;
        margin-left: 100px; 
       border-radius: 7px 7px 7px 7px;
       box-sizing: border-box;
       border: 1px solid black;
   }
    .Onecomment {
        width: auto;
    }
    
    
    
    .column {
        width: 100%;
        margin-left: 300px;
    }
    
    .navleft {
        margin-right: 400px;
        margin-top: -20px;
    }
    .send {
        margin-left: 600px;
    }
    .logo {
        width: 100px;
        margin-left: 30px;
    }
    
    .startMessage {
        margin-top: -20px;
        width: 920px;
        margin-left: -290px;
        background-color: white;
        border-radius: 20px;
        background-color: white;
    }
    
    .empty {
        width: auto;
    }
    
    .textPost {
        width: 600px;
    }
    
    .myIcons {
        margin-top: 10px;
    }
    
    
    .photos {
        margin-left: 89px;
    }
    
    .Mypost {
        width: 920px;
        margin-right: 100px;
        margin-left: -290px;
    }
    img {
        margin: 1px;
        width: 470px;
    }
    .build {
        margin-left: 400px;
    }
    /*.popup{margin-left: 750px;}*/
    
    .share {
        margin-left: 290px;
    }
    
    .borderMessage {
        width: auto;
    }
    
    .time {
        margin-right: 590px
    }
    
    .textPosts {
        outline: none;
        width: 400px;
        height: 80px;
        border-radius: 3px;
        margin-top: 10px;
       
        margin-left: 20px;
        font-size: 16px;
        border-radius: 20px;
        border: 1px solid #1e3056;
    }
    
    .myprofil {
        text-align: center;
        margin-left: 15px;
        margin-top: 105px;
        border: 1px solid white;
        width: 320px;
        height: 500px;
        background-color: white;
        border-radius: 20px;
    }
    
    .navleft a:hover {
        text-decoration: underline;
        color: blue
    }
    
    @media only screen and (max-width: 768px) {
        .allcomment {
            width: auto;
            margin-top: 10px;
        }
        .Onecomment {
            width: auto;
        }
        
        .modify {
            margin-right: 30px;
        }
        .column {
            width: 100%;
            margin-left: 300px;
        }
        .navleft {
            margin-right: 400px;
            margin-top: -25px;
        }
        .modify {
            margin-top: 90px;
            margin-left: -560px;;
            border-radius: 7px;
            width: 700px;
            height: 40px;
            font-size: 15px;
            text-align: center;
        }
        .searchbar {
            width: 200px;
            height: 20px;
            padding: 12px 20px;
            margin-left: 70px;
            border-radius: 7px 7px 7px 7px;
            box-sizing: border-box;
            border: 1px solid black;
        }
        .logo {
            width: 100px;
            margin-left: 30px;
        }
        .startMessage {
            width: 700px;
            margin-left: -260px;
            background-color: white;
            border-radius: 20px;
        }
        .empty {
            width:auto;
        }
        .textPost {
            width: 650px;
        }
        .myIcons {
            margin-top: 10px;
        }
        .send {
            margin-left: 450px;
        }
        .photos {
            margin-left: 89px;
        }
        .Mypost {
            width: 700px;
        }
        .build {
            margin-left: 200px;
        }
        .popup {
            margin-left: 750px;
        }
        .share {
            margin-left: 100px;
        }
        .borderMessage {
            width: auto;
        }
        .myfooter {
           
            width: 690px;
            
            margin-left: -250px;
          
        }
        img {
            margin: 1px;
            width: 430px;
        }
        .time {
            margin-right: 430px
        }
        .myprofil {
            text-align: center;
            margin-left: 15px;
            margin-top: 105px;
            border: 1px solid white;
            width: 320px;
            height: 500px;
            background-color: white;
            border-radius: 20px;
        }
        .navleft a:hover {
            text-decoration: underline;
            color: blue
        }
    }
    
    @media only screen and (max-width: 360px) {
        .allcomment {
            width: auto;
            margin-top: 10px;
        }
        .Onecomment {
            width: auto;
        }
        .navright input {
            margin-right: 300px;
            margin-top: 5px;
            padding-left: 50px;
        }
        .modify {
            margin-right: auto;
        }
        .title{font-size:11px; margin-left:20px;}
        .text{font-size:11px;}
        .column {
            width: 100%;
            margin-left: 370px;
        }
  .thisPhoto {
    width: 30px; 
    height: 20px;

}
        .navleft {
            margin-right: 300px;
            margin-top: 37px;
        }
        .navleft {
         float: left; margin-left:20; font-size:13px;}
        .searchbar {
           
             width: 160px; 
             height: 20px; 
            padding: 12px 20px;
             margin-left: 20px; 
            border-radius: 7px 7px 7px 7px;
            box-sizing: border-box;
            border: 1px solid black;
        }
        .logo {
            width: 100px;
            margin-left: 1px;}
        .startMessage {
            height: 230px;
            width: 320px;
            margin-left: -340px;
            background-color: white;
            border-radius: 20px;
        }
        .empty {
            width: auto;
        }
        .textPost {
            width: 290px;
        }
        .myIcons {
            margin-top: 2px;
            margin-right: 600px;
        }
        .send {
            margin-left: 200px; width:40px;
        }
        .photos {
            margin-left: 9px;
        }
        .comment{width: 30px;height:30px;}
        .Mypost {
            width: 320px;height:450px;
            margin-left: -340px
        }
        .imgs{width:200px;}
        .build {
            margin-left: -200px;
        }
        .popup {
            margin-left: 750px;
        }
        .share {
            margin-left: -300px; width: 30px;height: 30px;
        }
        .borderMessage {
            width: auto;
        }
        .myfooter {
            border: 1px solid #1e3056;
            font-size: 14px;
            width: 300px;
            height: 20px;
            margin-left: -320px;
            background-color: white;
            border-radius: 5px;
            margin-bottom: 5px;
        }
        .time {
          
                margin-right: 100px;font-size:12px;margin-top:5px;
        }
        .myprofil {
            text-align: center;
            margin-left: 15px;
            margin-top: 105px;
            border: 1px solid white;
            width: 320px;
            height: 500px;
            background-color: white;
            border-radius: 20px;
        }
    }
    
    @media screen and (max-width: 600px) {
        .column {
            width: 100%;
        }
    }
}